<ion-view view-title="Transportation">
    <ion-content>
        <div class="list card">
            <div class="item item-body">
                <h1>Transportation</h1>
                <p>
                    <h2><i class="ion-model-s"></i> รถยนต์</h2>จากกรุงเทพฯ ใช้ทางหลวงหมายเลข(พหลโยธิน)แยกเข้าทางหลวงหมายเลข 32(สายเอเซีย) ผ่านอยุธยา อ่างทอง นครสวรรค์ หลังจากนั้นใช้ทางหลวงหมายเลข 117 ไปยังพิษณุโลก ต่อด้วยทางหลวงหมายเลข 11 ผ่านลำปาง ลำพูน ถึงเชียงใหม่ระยะทางประมาณ 695 กิโลเมตร อีกทางหนึ่งคือจากนครสวรรค์ ไปตามทางหลวง หมายเลข1 ผ่านกำแพงเพชร ตาก และลำปางถึงเชียงใหม่ ระยะทางประมาณ 696 กิโลเมตร</p>
                <p>
                    <h2><i class="ion-android-train"></i> รถไฟ</h2>จากกรุงเทพฯ ใช้ทางหลวงหมายเลข(พหลโยธิน)แยกเข้าทางหลวงหมายเลข 32(สายเอเซีย) ผ่านอยุธยา อ่างทอง นครสวรรค์ หลังจากนั้นใช้ทางหลวงหมายเลข 117 ไปยังพิษณุโลก ต่อด้วยทางหลวงหมายเลข 11 ผ่านลำปาง ลำพูน ถึงเชียงใหม่ระยะทางประมาณ 695 กิโลเมตร อีกทางหนึ่งคือจากนครสวรรค์ ไปตามทางหลวง หมายเลข1 ผ่านกำแพงเพชร ตาก และลำปางถึงเชียงใหม่ ระยะทางประมาณ 696 กิโลเมตร</p>
                <p>
                    <h2><i class="ion-android-bus"></i> รถโดยสารประจำทาง</h2>มีรถประจำทางปรับอากาศสายกรุงเทพฯ-เชียงใหม่ ออกจากสถานีขนส่งสายเหนือ (หมอชิต 2) ถนนกำแพงเพชร 2 ทุกวันๆละหลายเที่ยว ใช้เวลาเดินทางประมาณ 10 ชั่วโมง สอบถามรายละเอียดได้ที่ บริษัท ขนส่ง จำกัด โทร. 0 29362852;66และที่เชียงใหม่ โทร.;053;241449,053242664 หรือดูใน www.transport.co.th ทันจิตต์ทัวร์ โทร. 0 2936 3210, นครชัยแอร์ โทร. 0 2936 3901, 0 2936 3355 นิววิริยะยานยนต์ทัวร์ โทร. 0 2936 2207,สมบัติทัวร์ โทร. 0 2936 3355,สหชาญทัวร์ โทร. 0 2936 2762 สยามเฟิสท์ทัวร์ โทร. 0 2954 3601-7</p>
                <p>
                    <h2><i class="ion-android-plane"></i> เครื่องบิน</h2>
                    <p>- การบินไทย บริการเที่ยวบินประจำระหว่างกรุงเทพฯ-เชียงใหม่ ทุกวัน ใช้เวลาเดินทางประมาณ 1 ชั่วโมง สำรองที่นั่ง โทร. 0 2280 0060, 0 2628 2000, 0 2356 1111 สอบถามรายละเอียด โทร. 1566 สำนักงานเชียงใหม่ โทร. 0 5321 0043-4 และ www.thaiairways.com</p>
                    <p>
                        - สายการบิน บางกอกแอร์เวย์ บริการเที่ยวบิน กรุงเทพฯ-สุโขทัย-เชียงใหม่ โทร. 0 2265 5555, 0 2265 5678 และ www.bangkokair.com </p>
                    <p>
                        - สายการบินวันทูโก มีบริการเที่ยวบินกรุงเทพฯ-เชียงใหม่ ทุกวันสอบถามรายละเอียดได้ที่ โทร. 1126 หรือ www.fly12go.com </p>
                    <p>
                        - สายการบินนกแอร์ เปิดบริการเที่ยวบินกรุงเทพฯ-เชียงใหม่ และ เชียงใหม่-แม่ฮ่องสอน ทุกวัน และ กรุงเทพ-เลย-อุดรธานี-เชียงใหม่ ทุกวันศุกร์และวันอาทิตย์ รายละเอียดสอบถามศูนย์ลูกค้าสัมพันธ์ โทร. 1318 หรือ www.nokair.com</p>
                    <p>
                        - สายการบิน ไทยแอร์เอเชีย มีบริการเที่ยวบินระหว่าง กรุงเทพฯ-เชียงใหม่ สอบถามรายละเอียด โทร.0 2515 9999 หรือ www.airasia.com </p>
                    <p>
                        - สายการบิน เอส จี เอ มีบริการเที่ยวบิน เชียงใหม่ - เชียงราย, เชียงใหม่ - ปาย และ เชียงใหม่ - แพร่ โทร. 0 2664 6099 เว็บไซต์ www.sga.co.th </p>
                </p>
            </div>
        </div>
        <br><br><br><br>  
    </ion-content>
</ion-view>
